<section
  id="about-head"
  class="section-p1 flex lg:flex-row flex-col items-center"
>
  <img
    src="../../../../../assets/img/about/a6.jpg"
    alt=""
    class="lg:w-1/2 w-full md:mb-0 sm:mb-5 h-auto"
  />
  <div class="md:pl-10 sm:pl-0 lg:mt-0 mt-10">
    <h2>Story of Cara:</h2>
    <p class="leading-7">
      We founded cara with one goal in mind: providing a high-quality, smart,
      and reliable online store. Our passion for excellence has driven us from
      the beginning, and continues to drive us into the future. We know that
      every product counts, and strive to make the entire shopping experience as
      rewarding as possible. Check it out for yourself.
    </p>

    <abbr class="font-semibold text-txtPrimary2 underline decoration-dotted"
      >We Created stunning images with as much or as little control as you like
      thanks to a choice of Basic and Creative modes.</abbr
    >

    <br /><br />

    <marquee
      bgcolor="#ccc"
      loop="'-1"
      scrollamount="5"
      width="100%"
      class="text-sm mt-5 p-0"
      >We provided a high-quality, smart, and reliable online store. Check it
      out for yourself.</marquee
    >
  </div>
</section>
